body {
    color: #ffffff;
    background-color: #003D7E;
    font-family: 'Open Sans', sans-serif;
}

.year-list {
    width: 75%; 
    max-width: 750px;
    margin: 0 auto;
}

.year-header {
    text-align: center; 
    font-size: 2em; 
    font-weight: bold;
}

.album {
    clear: both; 
    overflow: auto; 
    margin-bottom: 30px; 
}

.rank, .cover, .album-info {
    float: left;

}
.rank {
    width: 10%;
    font-size: 4em; 
    text-align: center; 
    font-weight: 700;
    padding-right: 30px;
}

.cover {
    width: 40%;
    max-width: 300px; 
}

.album-info {
    width: 50%;
    max-width: 300px; 
    padding-left: 10px; 
}

.separator {
    height:0;
    border-top:4px solid #EC6E21;
    font-size:0;
}

.artist {
    font-size: 2em;
    font-weight: 600;
}

.title {
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    background-color: #EC6E21;
    font-size: 1em;
    font-weight: 600;
}

ul.nav li a:hover, ul.nav li a{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
}

ul.nav li a:hover {
    background-color: #ffffff;
    color: #EC6E21;
}

.home-link {
    font-size: 1em;
    color: #eeeeee;
}

.home-link:hover {
    color: #EC6E21;
}