body {
  font-family: 'Courier Prime', monospace;
  color: #212529;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #f9f9f9;
    background-color: #212529;
}

a {
  color: #212529;
}

a:hover {
  color: #FF4C00;
}

.bg-dark2 {
  background-color: #212529;
}

.bg-light2 {
  background-color: #f9f9f9;
}

.text-white2 {
  color: #f9f9f9;
}

