body {
	background-size: 100%;
}

.name, .tagline, .links a {
	font-family: 'Open Sans Light', 'Open Sans', sans-serif; 
}

.name { 
	color: #333333;
	font-size: 2.5em; 
	font-weight: bold;
}

.tagline {
	color: #333333;
	font-size: 1.5em; 
	font-style: italic;
}

.nametag {
	background-color: rgba(238,238,238,0.85);
	text-align: left;
	padding: 0.5em;
}

.main {
	text-align:left;
}

.links {
	text-align: left
}

.link, .album {
	background-color: rgba(238,238,238,0.85);
	padding: 0.5em;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	cursor: pointer;
}


.link a {
	font-size: 2em;
	text-decoration: none;
	line-height: 32px;
	color: #333333;
}

.link:hover, .album:hover {
	background-color: rgba(34,34,34,0.85);
}

.link:hover a, .album:hover a {
	color: #eeeeee;
}

.link img {
	vertical-align: middle;
	border:none;
}

.album a {
	font-size: 1.5em;
	text-decoration: none;
	line-height: 24px;
	margin-left: 1em;
	text-align: left;
	color: #333333;
}

.album {
	margin-left: 4em;
}

