body {
  font-family: 'Courier Prime', monospace;
  color: #212529;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #f9f9f9;
    background-color: #212529;
}

a {
  color: #212529;
}

a:hover {
  color: #FF4C00;
}

.bg-dark2 {
  background-color: #212529;
}

.bg-light2 {
  background-color: #f9f9f9;
}

.text-white2 {
  color: #f9f9f9;
}

.icon {
	height: 2.5rem;
	margin-right: 0.8rem;
}

.icon:hover {
    background-image: url('icons/instagram-white.png');
}

.button-link {
	width: 100%;
	height: 7rem;
	font-size: 2rem;
	background-color: #212529;
	border-bottom: 0.4rem solid #FF4C00;
  border-radius: 1.2rem;
}

.button-link a {
	color: #f9f9f9;
}

.button-link a:hover {
	color: #FF4C00;
}

.modal-header {
  border-bottom: 0.3rem solid #FF4C00;
}
