<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Eric Warsaba</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300italic,600' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/albums.css" type="text/css" charset="utf-8" />

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../js/underscore.js"></script>
<!--       // <script type="text/javascript" src="../js/flowtype.js"></script> -->
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-29646367-1']);
         _gaq.push(['_trackPageview']);
         
         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
         
         function toggle(id) {
         var ele = document.getElementById(id);
         if(ele.style.display == "block") {
               ele.style.display = "none";
           }
         else {
           ele.style.display = "block";
         }
         } 
      </script>
   </head>
   <body>
      <a href="http://eric.warsaba.com" class="home-link" >eric.warsaba.com</a>

      <ul class="nav nav-pills nav-justified">
         <li class="active"><a data-toggle="pill" href="#albums2014">2014</a></li>
         <li><a data-toggle="pill" href="#albums2013">2013</a></li>
         <li><a data-toggle="pill" href="#albums2012">2012</a></li>
         <li><a data-toggle="pill" href="#albums2011">2011</a></li>
         <li><a data-toggle="pill" href="#albums2010">2010</a></li>
         <li><a data-toggle="pill" href="#albums2009">2009</a></li>
      </ul>

      <div class="tab-content">
         <div id="lists"></div>
      </div>

      <script type="text/template" class="template">

      <div id="albums<%- rc.year %>" class="year-list tab-pane fade in <%- rc.state %>">

         <div class="year-header">
            Albums 2014
         </div>

      <% _.each( rc.albums, function( album ){ %>

         <div class="album">
            
            <div class="rank">
               <%- album.rank %>
            </div>
            
               <img class="cover" src=<%= album.cover %> />
            

            <div class="album-info">
               <div class="artist">
                  <%- album.artist %>
               </div>

               <div class="separator">-</div> 

               <div class="title">
                  <%- album.title %>
               </div>
            </div>

         </div>

            <% }); %>
      </div>

      </script>


      <script type="text/javascript">
        _.templateSettings.variable = "rc";
        var template = _.template(
            $( "script.template" ).html()
        );
        var albums2014 = {
               year: 2014,
               state: "active",
               albums: [
                     {
                       rank: 1,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Run the Jewels",
                       title: "Run the Jewels 2",
                       spotify: "http://open.spotify.com/album/2lPYlP4eumsjz6LBG8GCbG"
                     },
                     {
                       rank: 2,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "St. Vincent",
                       title: "St. Vincent",
                       spotify: "http://open.spotify.com/album/2CJnMhwEEkS8R1ctgt5llf"
                     },
                     {
                       rank: 3,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Old Man Gloom",
                       title: "The Ape of God",
                       spotify: "http://open.spotify.com/album/5bTs4HY0zZaG7BBUvLtED6"
                     },
                     {
                       rank: 4,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Perfume Genius",
                       title: "Too Bright",
                       spotify: "http://open.spotify.com/album/28FxHb9OJRzAch4DwUUsaT"
                     },
                     {
                       rank: 5,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Cloud Nothings",
                       title: "Here and Nowhere Else",
                       spotify: "http://open.spotify.com/album/3NNSJt3gWSmPmnjCwZyLA5"
                     },
                     {
                       rank: 6,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Hamilton Leithauser",
                       title: "Black Hours",
                       spotify: "http://open.spotify.com/album/6okbkXtZuUlbVmADpjxNiA"
                     },
                     {
                       rank: 7,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Spoon",
                       title: "They Want My Soul",
                       spotify: "http://open.spotify.com/album/55TZx6GWm1hlEbRgkGRjma"
                     },
                     {
                       rank: 8,
                       cover: "http://userserve-ak.last.fm/serve/_/101212525/Plowing+into+the+Field+of+Love+PItFoL.png",
                       artist: "Iceage",
                       title: "Plowing Into the Field of Love",
                       spotify: "http://open.spotify.com/album/2zFpmXJsyl4HnMY1hZcfIe"
                     },
                     {
                       rank: 9,
                       cover: "http://userserve-ak.last.fm/serve/500/98992841/and+then+you+shoot+your+cousin.jpg",
                       artist: "The Roots",
                       title: "...and then you shoot your cousin",
                       spotify: "http://open.spotify.com/album/6kYqws8vRcaUKTjFnJRb4X"
                     },
                     {
                       rank: 10,
                       cover: "http://userserve-ak.last.fm/serve/_/101434089/Our+Love.png",
                       artist: "Caribou",
                       title: "Our Love",
                       spotify: "http://open.spotify.com/album/5r4nz5LZHeGUcZCrWbfWkx"
                     },
                     {
                       rank: 11,
                       cover: "http://userserve-ak.last.fm/serve/500/102284513/Lost+in+the+Dream.png",
                       artist: "The War on Drugs",
                       title: "Lost in the Dream",
                       spotify: "http://open.spotify.com/album/14xxjLlbGy8ACm4MorBjD5"
                     },
                     {
                       rank: 12,
                       cover: "http://userserve-ak.last.fm/serve/_/101203447/Another+Language+PNG.png",
                       artist: "They Will Destroy You",
                       title: "Another Language",
                       spotify: "http://open.spotify.com/album/7JbUvdIr1yepIxZy9rt3un"
                     },
                     {
                       rank: 13,
                       cover: "http://userserve-ak.last.fm/serve/_/101454665/Youre+Dead.png",
                       artist: "Flying Lotus",
                       title: "You're Dead!",
                       spotify: "http://open.spotify.com/album/29luvT98TnqHjVDYSRbbrj"
                     },
                     {
                       rank: 14,
                       cover: "http://userserve-ak.last.fm/serve/_/96364799/Fuck+Off+Get+Free+We+Pour+Light+On+Everything+fuckoffgetfreewepourlightoneve.png",
                       artist: "Thee Silver Mt. Zion Memorial Orchestra",
                       title: "Fuck Off Get Free We Pour Light On Everything",
                       spotify: "http://open.spotify.com/album/12jvcjKhojRTR5OUJevLb6"
                     },
                     {
                       rank: 15,
                       cover: "http://userserve-ak.last.fm/serve/_/97936793/Mess.png",
                       artist: "Liars",
                       title: "Mess",
                       spotify: "http://open.spotify.com/album/5Yyt7GBe2YwY3ddjsbv1Em"
                     },
                     {
                       rank: 16,
                       cover: "http://userserve-ak.last.fm/serve/_/99890533/Mended+With+Gold.jpg",
                       artist: "The Rural Alberta Advantage",
                       title: "Mended with Gold",
                       spotify: "http://open.spotify.com/album/5U4WtXJvVognNQqDyjKxYx"
                     },
                     {
                       rank: 17,
                       cover: "http://userserve-ak.last.fm/serve/500/98261907/Deep+Fantasy.png",
                       artist: "White Lung",
                       title: "Deep Fantasy",
                       spotify: "http://open.spotify.com/album/64w2PSTImdSXDfoc7TqARQ"
                     },
                     {
                       rank: 18,
                       cover: "http://userserve-ak.last.fm/serve/500/100758307/ALICE+IN+THUNDERDOME+aitd2.png",
                       artist: "Rob Sonic",
                       title: "Alice in Thunderdome",
                       spotify: "http://open.spotify.com/album/7Ga8J16H7NqrnC4z4MHbFZ"
                     },
                     {
                       rank: 19,
                       cover: "http://userserve-ak.last.fm/serve/500/97695169/I+Never+Learn.png",
                       artist: "Lykke LI",
                       title: "I Never Learn",
                       spotify: "http://open.spotify.com/album/4fGqfyineAZmulNxgitERh"
                     },
                     {
                       rank: 20,
                       cover: "http://userserve-ak.last.fm/serve/500/96384533/Transgender+Dysphoria+Blues.png",
                       artist: "Against Me!",
                       title: "Transgender Dysphoria Blues",
                       spotify: "http://open.spotify.com/album/4f5QFycCas16VVeNNXtJoH"
                     },
                     {
                       rank: 21,
                       cover: "http://userserve-ak.last.fm/serve/500/98517489/Do+It+Again+PNG.png",
                       artist: "Röyksopp & Robyn",
                       title: "Do It Again",
                       spotify: "http://open.spotify.com/album/5eee2WTHHXLjsuZJ0WZ1kL"
                     },
                     {
                       rank: 22,
                       cover: "http://userserve-ak.last.fm/serve/500/98165153/Shriek+HQ+png+image+1200x1200px.png",
                       artist: "Wye Oak",
                       title: "Shriek",
                       spotify: "http://open.spotify.com/album/0otxl4NsvWDdckqTGX8tKn"
                     },
                     {
                       rank: 23,
                       cover: "http://userserve-ak.last.fm/serve/500/97344317/Nux+Vomica+NuxVomica.jpg",
                       artist: "Nux Vomica",
                       title: "Nux Vomica",
                       spotify: "http://open.spotify.com/album/1M7jKEZHhLo8psVGZolfmb"
                     },
                     {
                       rank: 24,
                       cover: "http://userserve-ak.last.fm/serve/_/99276241/The+Next+Four+Years+HQ+PNG.png",
                       artist: "United Nations",
                       title: "The Next Four Years",
                       spotify: "http://open.spotify.com/album/3bWhwSalV8hFBvlZ9Ny44R"
                     },
                     {
                       rank: 25,
                       cover: "http://userserve-ak.last.fm/serve/500/98690421/Easy+Pain+Coverpng.png",
                       artist: "Young Widows",
                       title: "Easy Pain",
                       spotify: "http://open.spotify.com/album/2BzGdQ16lOid9w2mOuew4g"
                     },
                     {
                       rank: 26,
                       cover: "http://userserve-ak.last.fm/serve/500/101042733/This+Is+All+Yours+0.png",
                       artist: "alt-J",
                       title: "This Is All Yours",
                       spotify: "http://open.spotify.com/album/4oktVvRuO1In9B7Hz0xm0a"
                     },
                     {
                       rank: 27,
                       cover: "http://userserve-ak.last.fm/serve/500/98350083/The+Moon+Rang+Like+a+Bell.png",
                       artist: "Hundred Waters",
                       title: "The Moon Rang Like A Bell",
                       spotify: "http://open.spotify.com/album/051I8OUCXMiEnua64QQKy3"
                     },
                     {
                       rank: 28,
                       cover: "http://userserve-ak.last.fm/serve/500/99019999/To+Be+Kind+Cover.png",
                       artist: "Swans",
                       title: "To Be Kind",
                       spotify: "http://open.spotify.com/album/0QWLvgrYwVMUVOHq3vvq9z"
                     },
                     {
                       rank: 29,
                       cover: "http://userserve-ak.last.fm/serve/_/100894041/The+Physical+World.png",
                       artist: "Death from Above 1979",
                       title: "The Physical World",
                       spotify: "http://open.spotify.com/album/6pkHRqnjCeXjQUDVbHzMlD"
                     },
                     {
                       rank: 30,
                       cover: "http://userserve-ak.last.fm/serve/_/100748913/Still+Life.jpg",
                       artist: "Kevin Morby",
                       title: "Still Life",
                       spotify: "https://open.spotify.com/album/3tQTQZ8oy2IDwpmkYP08Fr"
                     }

               ]
        };

        var albums2013 = {
               year: 2013,
               albums: [
                     {
                       rank: 29,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Death from Aboe 1979",
                       title: "The Physical World"
                     },
                     {
                       rank: 30,
                       cover: "https://archive.org/download/mbid-063f311e-9c81-4616-a007-b76e3df910c9/mbid-063f311e-9c81-4616-a007-b76e3df910c9-8515596987.jpg",
                       artist: "Kevin Morby",
                       title: "Still Life"
                     }

               ]
        };

        $( "#lists" ).after(
            template( albums2013 )
        );
        $( "#lists" ).after(
            template( albums2014 )
        );

    </script>

   </body>
</html>